.Phonetics {
  margin: 20px 0;
}

.Phonetics a {
  font-size: 14px;
  font-weight: bold;
  color: #005892;
  border: 1px solid #ddd;
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 12px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  background: #005892;
  color: #fff;
}

.Phonetics .phoneticText {
  color: #005892;
}
